TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_PROXY=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_MTPROXY_SERVER=127.0.0.1
TELEGRAM_MTPROXY_PORT=1443
TELEGRAM_MTPROXY_SECRET=
STEAM_API_KEY=
OPENDOTA_API_KEY=
STRATZ_API_KEY=
HTTP_MAX_CONNECTIONS=
HTTP_MAX_KEEPALIVE_CONNECTIONS=
MATCH_PLAYER_PROBE_CONCURRENCY=
DONATION_TEXT=
DONATION_CARD=
DONATION_URL=
